#developers-box {
  border: 10px solid #a8af00;
  background-color: #58314A; 
  padding: 20px;
  width: fit-content;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color:#FAF9F7;
  margin: 30px;
}

#develepors-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}