body {
  background-color: #a8af00;
}

/* Order confirmation styling */
#order-confirmation {
  background-color: #faf9f7;
  text-align: center;
  border: 2px solid #d7af54;
  width: 75%;
  margin: 20px auto;
  padding: 20px;
}

/* Remove default bullets from list styling */
#order-confirmation ul {
  list-style-type: none;
  padding: 0;
}

/* Heading text */
#feature {
  text-align: center;
}

/* Main elements, contain pizza info */
.pizza-item {
  /* Styling */
  background-color: #faf9f7;
  border-radius: 6%;

  /* Positioning */
  width: 75%;
  height: 25em;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.pizza-item img {
  float: left;
  height: 100%;
}

.pizza-item ul {
  width: 80%;
}

.pizza-item h1 {
  text-align: center;
  padding-top: 1em;
}

.pizza-item li {
  font-size: 1.5em;
  font-family: cursive, serif;
}

.order-button {
  /* Styling */
  background-color: #d7af54;
  border-radius: 5%;
}

.order-button:active {
  background-color: #764f36;
}

.pizza-item button {
  /* Positioning */
  float: right;
  margin-right: 10%;
  margin-bottom: 10%;
  height: 15%;
  width: 30%;
}

#submit-order {
  text-align: center;
  margin: 20px auto;
}

#submit-order button {
  /* Positioning */
  height: 40px;
  width: 200px;
  font-size: 1.2em;
}
