body {
  background-color: #a8af00;
  line-height: 1.5em;
}

.member-selector {
  background-color: #faf9f7;
  width: 75%;
  margin-top: 12em;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.member-selector label {
  font-size: 1.2em;
  margin-right: 10px;
  color: #58314a;
}

#member-dropdown {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #d7af54;
  border-radius: 5px;
  background-color: white;
  color: #764f36;
  cursor: pointer;
  width: 300px;
}

#member-dropdown:focus {
  outline: none;
  border-color: #764f36;
}

.default-hidden {
  display: none;
}
